@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

.nav {
  height: 75px;
  margin: auto;
}

.Main {
  padding-top: 550px;
  padding-left: 120px;
}
